Double quotes in ORGANIZER property results in invalid iCal feed

As reported: https://wordpress.org/support/topic/bug-when-importing-a-ics-into-google-calendar?replies=3#post-8383857

On parameter values (such as for CN),  RFC 5545 Section 3.2 states:

> Property parameter values that contain the COLON, SEMICOLON, or COMMA character separators MUST be specified as quoted-string text values. Property parameter values MUST NOT contain the DQUOTE character. The DQUOTE character is used as a delimiter for parameter values that contain restricted characters or URI text. For example:
>
> DESCRIPTION;ALTREP="cid:part1.0001@example.org":The Fall'98 Wild Wizards Conference - - Las Vegas\, NV\, USA

(see also: http://stackoverflow.com/questions/3014137/can-should-ical-property-parametrs-be-escaped)

So double quotes should be removed.